.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-view {
  display: flex;
  background-image: url("Images/card_background.jpg");
  background-size: contain;
  height: 200px;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  border-radius: 25px;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.holder {
  display: flex;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.person-info-container {
  text-align: left;
}

.name {
  margin: 0;
  color: white;
}

.occupation {
  margin: 0;
  color: white;
}