.background-view {
  display: flex;
  background-image: url("../../../Images/card_background.jpg");
  background-size: contain;
  height: 200px;
  width: 350px;
  border-radius: 25px;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.holder {
  display: flex;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.person-info-container {
  text-align: left;
}

.name {
  margin: 0;
  color: white;
}

.occupation {
  margin: 0;
  color: white;
}